html,
:root {
  scroll-behavior: smooth;
}

body {
  // Prevent .alignfull from adding a horizontal scrollbar
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

p:empty {
  display: none;
}

.no-transition {
  transition: none !important;
}
