html,
:root {
  scroll-behavior: smooth;
}

body {

  // Delightful!
  ::-moz-selection {
    background-color: $primary;
    color: $white;
    cursor: text;
  }

  ::selection {
    background-color: $primary;
    color: $white;
    cursor: text;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p:empty {
  display: none;
}

.no-transition {
  transition: none !important;
}