/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Color classes */
@each $infix,
$color in $theme-colors {

  // Basic coloring
  .has-#{"" + $infix}-color {
    color: $color  !important;

    a {
      @extend .link-#{"" + $infix};
    }
  }

  // Inline links
  a mark.has-inline-color.has-#{"" + $infix}-color {
    @extend .link-#{"" + $infix};
    text-decoration: underline;
  }

  a {

    &:hover,
    &:focus,
    &:focus-visible {
      mark.has-inline-color.has-#{"" + $infix}-color {
        color: if(color-contrast($color)==$color-contrast-light, shade-color($color, $link-shade-percentage), tint-color($color, $link-shade-percentage)) !important;
      }
    }
  }

  // Background colors
  .has-#{"" + $infix}-background-color {
    background-color: $color  !important;
  }
}

.has-white-color,
.has-light-color {
  @include font-smoothing(on);
}

/** Media alignment */
.alignfull {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: calc($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: calc($spacer / 2);
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: calc($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: calc($spacer / 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .visually-hidden;
  @extend .visually-hidden-focusable;
}