/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.alignwide {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--bs-4-wp-block-max);
}

/** Color classes */
@each $infix,
$color in $theme-colors {

  // Basic coloring
  .has-#{"" + $infix}-color {
    color: $color !important;

    a {
      @extend .link-#{"" + $infix};
    }
  }

  // Inline links
  a mark.has-inline-color.has-#{"" + $infix}-color {
    @extend .link-#{"" + $infix};
    text-decoration: underline;
  }

  a {

    &:hover,
    &:focus,
    &:focus-visible {
      mark.has-inline-color.has-#{"" + $infix}-color {
        color: if(color-contrast($color)==$color-contrast-light, shade-color($color, $link-shade-percentage), tint-color($color, $link-shade-percentage)) !important;
      }
    }
  }

  // Background colors
  .has-#{"" + $infix}-background-color {
    background-color: $color !important;
  }
}

.has-white-color,
.has-light-color {
  @include font-smoothing(on);
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .visually-hidden;
  @extend .visually-hidden-focusable;
}