/* Shared */
@import "common/variables";
@import "common/functions";
@import "common/mixins";

/* Bootstrap */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";

.editor-styles-wrapper {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	color: $body-color;
	line-height: $line-height-base;
	overflow-x: hidden;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	@import "~bootstrap/scss/reboot";
	@import "~bootstrap/scss/type";
	@import "~bootstrap/scss/images";
	@import "~bootstrap/scss/containers";
	// @import "~bootstrap/scss/grid";
	// @import "~bootstrap/scss/tables";
	// @import "~bootstrap/scss/forms";
	@import "~bootstrap/scss/buttons";
	// @import "~bootstrap/scss/transitions";
	// @import "~bootstrap/scss/dropdown";
	// @import "~bootstrap/scss/button-group";
	// @import "~bootstrap/scss/nav";
	// @import "~bootstrap/scss/navbar";
	@import "~bootstrap/scss/card";
	// @import "~bootstrap/scss/accordion";
	// @import "~bootstrap/scss/breadcrumb";
	// @import "~bootstrap/scss/pagination";
	// @import "~bootstrap/scss/badge";
	// @import "~bootstrap/scss/alert";
	// @import "~bootstrap/scss/progress";
	// @import "~bootstrap/scss/list-group";
	// @import "~bootstrap/scss/close";
	// @import "~bootstrap/scss/toasts";
	// @import "~bootstrap/scss/modal";
	// @import "~bootstrap/scss/tooltip";
	// @import "~bootstrap/scss/popover";
	// @import "~bootstrap/scss/carousel";
	// @import "~bootstrap/scss/spinners";
	// @import "~bootstrap/scss/offcanvas";
	// @import "~bootstrap/scss/placeholders";
	@import "~bootstrap/scss/helpers";
	@import "~bootstrap/scss/utilities/api";

	/* Other dependencies  */

	/* Custom */
	@import "common/global";
	@import "common/type";
	@import "common/utility";
	@import "common/buttons";
	@import "common/card";
	@import "common/wp-classes";

	@import "blocks-wp/media-text";
	@import "blocks-wp/post-terms";
	@import "blocks-wp/wp-block-post";
	@import "blocks-wp/wp-block-query-pagination";
}

// Body gets converted to ".editor-styles-wrapper" so no need to add here
// https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#editor-styles
body {

	// Adjust alignfull
	[data-align="full"],
	.alignfull,
	.alignfull.swiper {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	// Remove underlines from ACF links, such as when it's in a plus icon of a repeater
	.acf-fields a {
		color: inherit;
		text-decoration: inherit;
	}

	// Disable linked header images, titles, and buttons in cards to not accidentally click away
	.block-editor-block-list__layout a {
		pointer-events: none;
	}

	.acf-block-preview .card {
		margin-top: 0;
		padding: 0;
		max-width: unset;
		box-shadow: none;
	}
}