/* Shared */
@import "common/variables";
@import "common/functions";
@import "common/mixins";

/* Bootstrap */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

/* Other dependencies  */

/* Custom
// Avoid adding _forms here as they could override the ACF fields
*/
@import "common/type";
@import "common/utility";
@import "common/blocks";
@import "common/wp-classes";

/* Overrides
// Body gets converted to ".editor-styles-wrapper" so no need to add here
// https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#editor-styles
*/
body {
  overflow-x: hidden;

  [data-align="full"],
  .alignfull {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  // Core overrides
  .card {
    margin-top: 0;
    padding: 0;
    max-width: unset;
  }

  // Remove underlines from ACF links, such as when it's in a plus icon of a repeater
  .acf-fields a {
    color: inherit;
    text-decoration: inherit;
  }
}
