$pager-size: rem(42);

.wp-block-query-pagination {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	/* Numbers */
	>.wp-block-query-pagination-numbers {
		display: inline-flex;
		gap: rem(8);
		margin: 0;
	}

	.page-numbers {
		@extend .btn;
		@extend .btn-outline-primary;
		justify-content: center;
		padding: 0;
		height: $pager-size;
		width: $pager-size;

		&.dots {
			border: none;
			background: transparent;
			width: $pager-size;
		}

		&:not(.dots) {

			&:hover,
			&:focus,
			&:focus-visible,
			&.current {
				color: $white;
				background-color: $primary;
				text-decoration: none;
			}
		}
	}

	/*  Prev/Next */
	.wp-block-query-pagination-next,
	.wp-block-query-pagination-previous {
		display: flex;
		justify-content: center;
		text-decoration: none;
		text-indent: -9999px;
		margin: 0;

		svg {
			transition: all 0.3s ease;
			height: calc($pager-size * .5);
			width: calc($pager-size * .5);
		}

		>span:last-of-type {
			text-indent: 0;
		}

		&-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $primary;
			transform: none !important;
			margin: 0;
			height: $pager-size;
			width: $pager-size;
			transition: color 0.2s ease;

			&:hover,
			&:focus,
			&:focus-visible {
				color: $gray-300;
				text-decoration: none;
			}
		}
	}

	&:hover,
	&:focus,
	&:focus-visible {
		text-decoration: none;
	}

	&--disabled {
		pointer-events: none;
		filter: grayscale(1);
		opacity: 0.3;
	}

	.wp-block-query-pagination-next {

		&:hover,
		&:focus,
		&:focus-visible {
			svg {
				transform: translateX(rem(3));
			}
		}
	}

	.wp-block-query-pagination-previous {

		&:hover,
		&:focus,
		&:focus-visible {
			svg {
				transform: translateX(rem(-3));
			}
		}
	}
}